@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0E1110;
  color: #F4F6F5;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}
